html, body {
	height: 100%;
	width: 100%;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-direction: space-between;

}

.blog-container {
	background-image: url(https://unsplash.imgix.net/42/KgqDYXRLSeyeSbhxYTjK_lookingAtTheArch.jpg?q=75&fm=jpg&auto=format&s=10eb0908ba2ff03b7589bf9cebf06229);
	background-size: cover;
	text-align: center;
	margin: -15px;
	padding: 10px;
}

#blog-text{
	color: black;
}

.background {
	background-image: url(https://scontent-b-ord.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/20361_260248571630_5638202_n.jpg?oh=a8e88afe3f9e7af450e9f3d80aa0c9e1&oe=5492813D);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: -60px -60px;
	padding-right: 30px;
	border: 2px solid black;
}

.infobox {
	background-color: rgba(252, 250, 252, .6);
	border: 2px solid black;
	margin: 50px 225px;
	margin-top: 90px;  
	flex-wrap: wrap;
	text-align: center;

}

.infobox h1 {
	font-weight: bold;
	color: #161669;
	font-family: raleway;
}

.infobox p {
	font-family: raleway;
	color: #07233F;
}

.books {
	width: 150px;
	height: 150px;
}

.fa {
	width: 65px;
	font-size: 50px;
	margin-top: 10px;
	color: #0C0880;
}


footer {
	display: flex-wrap; 	  		
}

.blog-posts{
	color: #0C447C;
}
a:hover{
	color: #FF0080;
}

a:link{
	text-decoration: none;
}
a:visited{
	color: #7C0C7C;
}
